EXPO_PUBLIC_API_URL=http://192.168.1.45:5025/GestorRestaurante
EXPO_PUBLIC_API_AUTH_URL=http://192.168.1.45:3000/GestorRestaurante/v1/auth
EXPO_PUBLIC_API_ADMIN_URL=http://192.168.1.45:5025/GestorRestaurante/v1

